#feed{
    background-image: linear-gradient(to right,rgb(188, 153, 189),rgb(177, 101, 187));
    height: 100vh;
}
 #feedback{
    background-color: azure;
} 
#FEED1{
    height: 100vh;
    background-image: linear-gradient(to right,rgb(188, 153, 189),rgb(177, 101, 187));


}